DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=#change-this-to-something-random-later
DB_NAME=mystorebw

FLASK_SECRET_KEY=random_secret_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_admin_password


WHATSAPP_NUMBER=+26770000000